.root{
    cor_primaria: #EDEDED;
    cor_secundaria: #A7A4A4;
    cor_terciaria: #104602;
}

.cabecalho{
    background-color:#EDEDED
}

.cabecalho__menu{
    margin-left: 87%;
 margin-bottom: -50px;
 color: #000;

text-align: center;
font-family: "Sedan SC";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}