.root{
    cor_primaria: #EDEDED;
    cor_secundaria: #A7A4A4;
    cor_terciaria: #104602;
}

.cabecalho{
    background-color:#EDEDED
}

.cabecalho__menu{
    margin-left: 100%;
 margin-bottom: 50%;
}