.root{
    cor_primaria: #EDEDED;
    cor_secundaria: #A7A4A4;
    cor_terciaria: #104602;
}

.cabecalho{
    background-color:#EDEDED
}

.cabecalho__menu{


}
.cabecalho__menu__link{
    text-decoration: none;
    margin-left: 60%;
    color: #000;
    font-family: "Sedan SC";
    
}.menu__mensagem{
    background-color: #104602;
    color: #A7A4A4;
    text-align: center;
    font-family: "Sedan SC";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}